cartopy==0.25.0
cycler==0.12.1
geopandas==0.12.2
ipdb==0.13.13
ipython==8.12.3
matplotlib==3.10.7
numpy==1.23.5
pandas==2.3.3
Pillow==9.5.0
Pillow==12.0.0
plotnine==0.15.0
psycopg2==2.9.11
pulp==3.3.0
pyomo==6.9.1
rpy2==3.6.4
scipy==1.9.3
seaborn==0.13.2
setuptools==80.1.0
Shapely==2.1.2
